





<div class="main_content_iner overly_inner ">
    <div class="container-fluid bg-white mt-5  p-5 " style="border-radius: 25px; ">
        <div class="mt-3 row">
            <h2 class="text-center" style="color: black;">Users</h2>
            <table class="table table-responsive-xs table-responsive-sm  table-striped table-hover mt-3 " id="usersTable" style="border: 1px solid rgb(12, 12, 12);
   border-radius: 15px;" >
                <thead>
                    <tr >
                        {{!-- <th scope="col">No</th> --}}
                        <th scope="col">No</th>

                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr >
                        {{!-- <th scope="row">1</th> --}}
                        <td id="index-td">{{incm @index}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                        <td>
                            {{#if this.block}}
                            <a href="/admin/unblock/{{this._id}}"
                                 type="submit"><button
                                    type="button" class="btn btn-warning">Unblock</button></a>
                            {{else}}
                                    <a href="/admin/block/{{this._id}}"
                                onclick="return two(this,event)" type="submit"><button 
                                    type="button" class="btn btn-danger">block</button></a>
                            {{/if}}
                        </td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</div>
<script>
    $(function () {
        $('#usersTable').dataTable();
    });

</script>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
          function two(url,e) {
              e.preventDefault()
              swal({
                  title: "Are you sure?",
                  text: "once you block a user, he will not have access to the site",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
                })
                .then((willDelete) => {
                  
                  if (willDelete) {
                    
                    window.location.href= url.href
               
      
                  } else {
                    swal("no changes have been done");
                  }
                });
      
      
      }
      </script>